h1,
.connexion {
  text-align: center;
}

.logo_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
}

.image_button {
  max-width: 250px;
  max-height: 200px;
}

/* Style button pour lien html */
a.button {
  text-align: center;
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: #eae57d;
  background-color: #ab0000;
  text-decoration: none;
  font-size: 30px;
}

.logout {
  font-size: 20px !important;
}

.btn {
  text-align: center;
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: #eae57d;
  background-color: #ab0000;
  text-decoration: none;
  font-size: 20px;
  width: 300px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Style du panneau */
.tab {
  overflow: hidden;
  border: none;
  background-color: #ffffff;
  margin-top: 15px;
}

/* Style des onglets du panneau */
.tab button {
  background-color: #fffcaf;
  border: 1px solid #7d7d7d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 120px;
}

/* Changement de la couleur de l'onglet au survol */
.tab button:hover {
  background-color: #d4d190;
  border: 1px solid #7d7d7d;
}

/* Défini l'onglet actif */
.tab button.active {
  background-color: #eae57d;
  border: 1px solid #7d7d7d;
}

/* Style à l'intérieur du panneau */
.tabcontent,
.tabcontent_agent,
.tabcontent_target,
.tabcontent_contact,
.tabcontent_hideout {
  display: none;
  padding: 6px 12px;
  border: 1px solid #7d7d7d;
  background-color: #eae57d;
}

.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ab0000;
  font-weight: bold;
  font-size: 64px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #6e0303;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #6e0303;
  background-color: #f5edb9;
}

th,
tr,
td {
  border: 2px;
  border-color: #6e0303;
  border-style: solid;
  background-color: #f5edb9;
}

th,
td {
  padding: 5px;
}

tbody td {
  text-align: center;
}

td > input[type='text']
{
    width: 95%; /*this will set the width of the textbox equal to its container td*/
}

.bouton_table {
  text-align:end;
}

.bouton_table input[type='button'] {
  margin-left: 5px;
  margin-right: 5px;
}

section {
  display: flex;
  flex-direction: row;
}

.card {
  display: block;
  max-width: 46%;
  min-width: 46%;
  margin-left: 2%;
  margin-right: 2%;
}

.ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.alert {
  font-size: 25px;
  background-color: #f5edb9;
  color: #ab0000;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  width: 160px;
  text-align-last: right;
  margin-right: 15px;
}